.text-field {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 50 0 0 50;
    -fx-text-fill: #000;
    -fx-prompt-text-fill: #00000090;
    -fx-padding: 8 16 8 16;
}
.hyperlink {
    -fx-text-fill: #999;
}

.hyperlink:hover {
    -fx-text-fill: #4c4c82;
    -fx-underline: false;
}